
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grid-size: 40px;
    --grid-color: #f0f0f0;
    --text-main: #09090b;
    @apply text-base;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
        url('/fonts/Satoshi-Variable.woff') format('woff');
    font-feature-settings: "salt" 1, "tnum" 1;
    font-variant-ligatures: none;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
    @apply font-sans;
    margin: 0;
    background-color: #fff;
    color: var(--text-main);
    -webkit-font-smoothing: antialiased;
}

.mono,
code,
pre,
kbd {
    font-family: 'JetBrains Mono', monospace !important;
}

/* Supermouse Text Plugin Styling */
.tooltip-cursor {
    background-color: #09090b;
    color: white;
    padding: 4px 8px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 2px;
    pointer-events: none;
}

.grid-bg {
    background-image:
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: var(--grid-size) var(--grid-size);
    background-position: center top;
}

::selection {
    background: #0000000c;
    color: #000;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #e4e4e7;
    border-radius: 3px;
}
